

<form action="">
    <p>Titulo: </p>
    <input type="Text" name="titulo">
    <p>Conteúdo: </p> 
    <textarea name="conteudo"></textarea>
    <button type="submit"> Cadastrar postagem</button>
</form>